[Desktop Entry]
Name=Translator (beta)
Exec=qmlscene $@ Main.qml
Icon=translator-app.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait

